body {
  background: #EEE;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .ribbon {
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
    }
    a {
      color: white;
      width: 100%;

      .ribbon-content {
        padding-left: 15px;
      }
    }
  }

  a.headerlink {
    float: right;
    margin-left: 20px;
    font-size: 14px;
  }

  .col.item {
    padding: 20px 20px 0px 20px;
    .card-image {
      //max-height: 150px;
    }
  }

  .parallax-container {
    height: 300px;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    left: -1px;
    .content {
      width: 50%;
      margin: auto;
      text-align: center;
      h1 {
        text-shadow: 3px 3px #8f1412;
      }
    }
  }

  .article .wrapper {
    padding: 0px 24px 96px;

    .content {
      background: white;
      box-shadow: grey 1px 1px 10px 1px;
    }
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    a.social {
      margin-left: 10px;
    }
  }

  .card .card-footer {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 24px;
    span.tags a.tag {
      padding: 3px;
      border-radius: 2px;
      line-height: 2em;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .container .row {
      margin: 0;
    }
    // Resume specific
    .resume .card {
      .card-content {
        h3.resume-subsection {
          width: 105%;
        }
        ul li {
          strong {
            width: unquote((100 / (12 / 6)) + "%")
          }
          em {
            width: unquote((100 / (12 / 6)) + "%")
          }
        }
      }
    }
  }

  @media only screen and (min-width: 601px) {
    // Resume specific
    .resume .card {
      .card-content {
        h3.resume-subsection {
          width: 70%;
        }
        ul li {
          strong {
            width: unquote((100 / (12 / 4)) + "%")
          }
          em {
            width: unquote((100 / (12 / 8)) + "%")
          }
        }
      }
    }
  }

  @media only screen and (min-width: 993px) {
    // Resume specific
    .resume .card {
      .card-content {
        h3.resume-subsection {
          width: 60%;
        }
        ul li {
          strong {
            width: unquote((100 / (12 / 3)) + "%")
          }
          em {
            width: unquote((100 / (12 / 9)) + "%")
          }
        }
      }
    }
  }

  // Resume specific
  .resume .card {
    .ribbon h2.resume-section {
      font-size: 2.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      .card-title {
        font-size: 2.5rem;
        line-height: 110%;
        margin: (2.5rem / 2) 0 (2.5rem / 2.5) 0;
        font-weight: 400;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
    .card-content {
      padding-top: 0;
      h3.resume-subsection {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 110%;
        position: relative;
        color: white;
        &:before, &:after {
          content: "";
          position: absolute;
        }
        .ribbon-content {
          padding-left: 10px;
        }
      }
      ul li {
        overflow: auto;
        ul li {
          overflow: auto;
          margin-left: 24px;
          list-style-type: circle;
        }
        strong {
          font-weight: bold;
          font-size: 1.1rem;
          float: left;
          box-sizing: border-box;
          padding: 0 1.5rem / 2;
          min-height: 1px;
        }
        em {
          box-sizing: border-box;
          padding: 0 1.5rem / 2;
          min-height: 1px;
        }
      }
    }
  }
}


