
body {
  background: #EEE;
  .ribbon {
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
    }
    .ribbon-content {
      margin-left: 15px;
        a {
        color: white;
      }
    }
  }

  a.headerlink {
    float: right;
    margin-left: 20px;
    font-size: 14px;
  }

  .col.item {
    padding: 20px;
    .card-image {
      //max-height: 150px;
    }
  }

  .parallax-container {
    height: 300px;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    left: -1px;
    .content{
      width: 50%;
      margin: auto;
      text-align: center;
      h1{
      text-shadow: 3px 3px #8f1412;
      }
    }
  }

  .article .wrapper{
    padding: 0px 24px 96px;

    .content{
      background: white;
      box-shadow: grey 1px 1px 10px 1px;
    }
  }
}
