<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper header">
                <a href="#" class="brand-logo">{{ .Site.Title }}</a>
                <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {{ partial "menu" . }}
                </ul>
                <ul class="side-nav" id="mobile">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>