{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <ul class="pagination" role="pagination">
    {{ if $pag.HasPrev }}
        <li class="waves-effect"><a href="{{ $pag.Prev.URL }}"><i class="fa fa-chevron-left"></i></a></li>
    {{ else }}
        <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>        
    {{ end }}
    {{ range $pag.Pagers }}
        <li class="{{ if eq .PageNumber $pag.PageNumber  }}active{{ else }}waves-effect{{ end }}"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ if $pag.HasNext }}
        <li class="waves-effect"><a href="{{ $pag.Next.URL }}"><i class="fa fa-chevron-right"></i></a></li>
    {{ else }}
        <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>    
    {{ end }}
</ul>
{{ end }}
